{% extends 'shopapp/baseshop.html' %}

{% block title %}
    Создание продукта
{% endblock %}

{% block body %}
    <h1>Создание нового продукта</h1>
    <div class="good-form" style="display: flex; justify-content: space-deetween; align-items: left">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                 Создать
            </button>
        </form>
    </div>

    <div>
        <a href="{% url 'shopapp:products_list' %}">Вернуться назад</a>
    </div>
{% endblock %}
