{% extends 'shopapp/baseshop.html' %}

{% block title %}
    Удаление заказа {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Вы уверены, что хотите удалить заказ {{ object.name }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:order_details' pk=object.pk %}"
        >Вернуться к заказу</a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Удалить</button>
        </form>
    </div>
{% endblock %}