{% extends 'shopapp/baseshop.html' %}
{% load cache %}

{% block title %}
    Orders List
{% endblock %}

{% block body %}
    <h1>Orders</h1>
    {% if orders %}
    <h3>Заказы на {% firstof owner.firstname owner.username %}</h3>
    <div>
        {% now "u" %}
    </div>
        <ul>
            {% for order in orders %}
                {% cache 100 orderinfo owner.pk %}
                    <div>
                        <p><a href="{% url 'shopapp:order_details' pk=order.pk %}">Детали заказа #{{ order.pk }}</a></p>
                        Продукты в заказе:
                        <ul>
                            {% for product in order.products.all %}
                                <li>{{ product.name }} стоимость которого {{ product.price }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        {% now "u" %}
                    </div>
                {% endcache %}
            {% endfor %}
        </ul>
    {% else %}
        <h3>У {% firstof owner.firstname owner.username %} нет заказов</h3>

    {% endif %}

    <div>
        <a href="{% url 'shopapp:create_order' %}">Создать новый заказ</a>
    </div>

{% endblock %}
