{% extends 'shopapp/base.html' %}

{% block title %}
    Orders List
{% endblock %}

{% block body %}
    <h1>Orders</h1>
    {% if object_list %}
        <ul>
            {% for order in object_list %}
                <div>
                    <p><a href="{% url 'shopapp:order_details' pk=order.pk %}">Детали #{{ order.pk }}</a></p>
                    <p>Заказ на {% firstof order.user.firstname order.user.username %}</p>
                    <p>Промокод {% firstof order.promocode "Промокода нет" %}</p>
                    <p>Адрес доставки: {{ order.deliveri_address }}</p>
                    Продукты в заказе:
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.name }} стоимость которого {{ product.price }}</li>
                        {% endfor %}
                    </ul>
                </div>

            {% endfor %}
        </ul>
    {% else %}
        <h3>Нет заказов</h3>
    {% endif %}

    <div>
        <a href="{% url 'shopapp:create_order' %}">Создать новый заказ</a>
    </div>

{% endblock %}
