{% extends 'shopapp/baseshop.html' %}

{% block title %}
    Архивация продукта {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Вы уверены, что хотите архивировать продукт {{ object.name }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:product_details' pk=object.pk %}"
        >Вернуться к продукту</a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Архивировать</button>
        </form>
    </div>
{% endblock %}