{% extends 'shopapp/baseshop.html' %}

{% block title %}
    Детали продукта
{% endblock %}

{% block body %}
    <h1>Продукт <strong>{{ product.name }}</strong></h1>

    <div>
        <div>Описание: <em>{{ product.description }}</em></div>
        <div>Цена: {{ product.price }}</div>
        <div>Скидка: {{ product.discount }}</div>
        <div>Архив : {{ product.archived }}</div>

        {% if product.preview %}
            <img src="{{ product.preview.url }}}" alt="{{ product.preview.name }}">
        {% endif %}

        <h3>Images</h3>
        <div>
            {% for img in product.image.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                    <div>{{ img.descriptions }}</div>
                </div>
            {% empty %}
                <div>Изображений ещё не загружено</div>
            {% endfor %}
        </div>
    </div>

    {% if product.created_by_id == user.pk and perms.shopapp.change_product or user.is_superuser %}
        <div>
            <a href="{% url 'shopapp:product_update' pk=product.pk%}">Обновить продукт</a>
        </div>

        <div>
            <a href="{% url 'shopapp:product_archive' pk=product.pk%}">Архивировать продукт</a>
        </div>
    {% endif %}

    <div>
        <a href="{% url 'shopapp:products_list' %}">Вернуться к списку продуктов</a>
    </div>

{% endblock %}