{% extends 'shopapp/base.html' %}

{% block title %}
    Products List
{% endblock %}

{% block body %}
    <h1>Products</h1>
    {% if products %}
    <div>
    {% for prod in products %}
        <div>
            <p>Название: {{ prod.name }}</p>
            <p>Цена: {{ prod.price }}</p>
            <p>Скидка: {% firstof prod.discount 'Нет скидки'%}</p>
        </div>
    {% endfor %}

    </div>

    {% else %}
        <h3>Нет продуктов</h3>
    {% endif %}

    <div>
        <a href="{% url 'shopapp:product_create' %}">Создать новый заказ</a>
    </div>

{% endblock %}
